@media all and (max-width: 768px) {
    .col-1-3 {
        width: 48%;
    }
}
@media all and (max-width: 600px) {
    .col-1-3 {
        width: 98%;
    }
    .subscribe p {
        width: 100%;
    }
    .subscribe form input[type='text'] {
        display: block;
        margin: 10px auto;
    }
    .subscribe form input[type='submit'] {
        display: block;
        margin: auto;
    }
    body h2 {
        font-size: 40px;
    }
    .photography h2 {
        font-size: 30px;
    }
}
