body {
    margin: 0;
}

.top-left {
    height: 200px;
    width: 50%;
    background: #FFF100;
    float: left;
}
.top-right {
    height: 200px;
    width: 50%;
    background: #EC1F25;
    overflow: hidden;
}


.middle-left {
    height: 500px;
    width: 20%;
    background: #00A551;
    float: left;
}
.middle-middle {
    width: 60%;
    float: left;
    overflow: hidden;
}
.middle-middle-top {
    height: 200px;
    background: #EA028C;
}
.middle-middle-bottom {
    height: 300px;
    background: #C12735;
}

.middle-right {
    height: 500px;
    width: 20%;
    overflow: hidden;
}
.middle-right-top {
    height: 250px;
    background: #00ADEF;
}
.middle-right-bottom {
    height: 250px;
    background: #2D3192;
}


.bottom-left {
    height: 200px;
    width: 60%;
    background: #FAB041;
    float: left;
}
.bottom-right {
    height: 200px;
    width: 40%;
    background: #ED4237;
    overflow: hidden;
}